<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.onetoday_back.weather.WeatherMapper">
    <select id="findLocalByMemberId">
        SELECT id AS addressId, member_id, title, road_address, parcel_address, lat, lon, nx, ny
        FROM member_location
        WHERE member_id = #{memberId}
        AND is_selected = TRUE
    </select>

    <select id="getNickName">
        SELECT member_nick, join_date AS birthDate
        FROM member
        WHERE member_no_login = #{memberId}
    </select>
</mapper>