<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.onetoday_back.account.AccountMapper">

    <insert id="save" parameterType="com.otd.onetoday_back.account.model.AccountJoinReq">

        INSERT INTO member (member_id,member_pw,email,name,birth_date,member_nick,gender, join_date)
        values (#{memberId},#{memberPw},#{email},#{name},#{birthDate},#{memberNick},#{gender}, NOW())
    </insert>
    <select id="findByLogin" parameterType="com.otd.onetoday_back.account.model.AccountLoginReq" resultType="com.otd.onetoday_back.account.model.AccountLoginRes">
        SELECT member_no_login AS memberNoLogin, member_pw AS memberPw
        FROM member
        WHERE member_id = #{memberId}
    </select>
    <select id="findProfileById" parameterType="int"
            resultType="com.otd.onetoday_back.account.model.AccountProfileRes">
        SELECT
        member_no_login AS memberNoLogin,
        member_id AS memberId,
        email,
        name,
        birth_date AS birthDate,
        member_nick AS memberNick,
        gender
        FROM member
        WHERE member_no_login = #{memberNoLogin}
    </select>
    <update id="updateProfile" parameterType="com.otd.onetoday_back.account.model.memberUpdateDto">
        UPDATE member
        SET
        member_id = #{memberId},
        email = #{email},
        name = #{name},
        birth_date = #{birthDate},
        member_nick = #{memberNick},
        member_img = #{memberImg},
        gender = #{gender}
        WHERE member_no_login = #{memberNoLogin}
    </update>
    <select id="existsByMemberId" parameterType="string" resultType="int">
        SELECT count(*) FROM member WHERE member_id = #{memberId}
    </select>

    <select id="existsByEmail" parameterType="string" resultType="int">
        SELECT count(*) FROM member WHERE email = #{email}
    </select>

    <select id="existsByMemberNick" parameterType="string" resultType="int">
        SELECT count(*) FROM member WHERE member_nick = #{memberNick}
    </select>

    <select id="findPasswordByMemberNo" parameterType="int" resultType="string">
        SELECT member_pw
        FROM member
        WHERE member_no_login = #{memberNoLogin}
    </select>


    <update id="updatePassword">
        UPDATE member
        SET member_pw = #{newPassword}
        WHERE member_no_login = #{memberNoLogin}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM member
        WHERE member_no_login = #{memberNoLogin}
    </delete>

    <delete id="deleteMemberLocationByMemberId" parameterType="int">
        DELETE FROM member_location
        WHERE local_member_id = #{memberNoLogin}
    </delete>
</mapper>