<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otd.onetoday_back.diary.DiaryMapper">

    <select id="findAll"
            resultType="com.otd.onetoday_back.diary.model.DiaryGetRes"
            parameterType="com.otd.onetoday_back.diary.model.DiaryGetReq">
        SELECT
            diary_id AS diaryId,
            diary_name AS diaryName,
            diary_content AS diaryContent,
            diary_image AS diaryImage,
            created_at AS createdAt,
            mood
        FROM diary
        WHERE member_no_login = #{memberNoLogin}
        ORDER BY created_at DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getTotalCount"
            resultType="int"
            parameterType="com.otd.onetoday_back.diary.model.DiaryGetReq">
        SELECT COUNT(*)
        FROM diary
        WHERE member_no_login = #{memberNoLogin}
    </select>

    <select id="findById"
            parameterType="map"
            resultType="com.otd.onetoday_back.diary.model.DiaryGetRes">
        SELECT
            diary_id AS diaryId,
            diary_name AS diaryName,
            diary_content AS diaryContent,
            diary_image AS diaryImage,
            created_at AS createdAt,
            mood
        FROM diary
        WHERE diary_id = #{diaryId}
          AND member_no_login = #{memberNoLogin}
    </select>

    <insert id="insert"
            parameterType="com.otd.onetoday_back.diary.model.DiaryPostReq"
            useGeneratedKeys="true"
            keyProperty="diaryId">
        INSERT INTO diary (
            member_no_login,
            diary_name,
            diary_content,
            diary_image,
            created_at,
            mood
        ) VALUES (
            #{memberNoLogin},
            #{diaryName},
            #{diaryContent},
            #{diaryImage},
            #{mood},
            NOW()
        )
    </insert>

    <update id="update"
            parameterType="com.otd.onetoday_back.diary.model.DiaryPutReq">
        UPDATE diary
        SET diary_name = #{diaryName},
            diary_content = #{diaryContent},
            diary_image = #{diaryImage},
            mood = #{mood}
        WHERE diary_id = #{diaryId}
          AND member_no_login = #{memberNoLogin}
    </update>

    <delete id="delete"
            parameterType="map">
        DELETE FROM diary
        WHERE diary_id = #{diaryId}
          AND member_no_login = #{memberNoLogin}
    </delete>

</mapper>