<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.otd.onetoday_back.community.mapper.MentMapper">

    <!-- 댓글 목록: 작성자 닉네임/이미지 포함 -->
    <select id="findByPostId" resultType="com.otd.onetoday_back.community.dto.MentRes">
        SELECT
        c.comment_id        AS commentId,
        c.post_id           AS postId,
        c.member_no_login   AS memberNoLogin,
        c.content           AS content,
        c.updated_at        AS updatedAt,
        a.member_nick       AS memberNick,
        a.member_img  AS memberImg
        FROM community_comment c
        LEFT JOIN member a
        ON a.member_no_login = c.member_no_login
        WHERE c.post_id = #{postId}
        ORDER BY c.updated_at ASC
    </select>

    <select id="lastInsertId" resultType="long">
        SELECT LAST_INSERT_ID()
    </select>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="commentId"
            keyColumn="comment_id">
        INSERT INTO community_comment (post_id, member_no_login, content, updated_at)
        VALUES (#{postId}, #{memberNoLogin}, #{content}, NOW())
    </insert>


    <!-- 삭제: 본인만 삭제 가능 -->
    <delete id="deleteByIdAndMember">
        DELETE FROM community_comment
        WHERE comment_id = #{commentId}
        AND member_no_login = #{memberNoLogin}
    </delete>

    <select id="findByCommentId" resultType="com.otd.onetoday_back.community.dto.MentRes">
        SELECT
        c.comment_id      AS commentId,
        c.post_id         AS postId,
        c.member_no_login AS memberNoLogin,
        c.content         AS content,
        c.updated_at      AS updatedAt,
        m.member_nick     AS memberNick,
        m.member_img      AS memberImg
        FROM community_comment c
        LEFT JOIN member m ON m.member_no_login = c.member_no_login
        WHERE c.comment_id = #{commentId}
    </select>

</mapper>
